<div class="p-4 m-2 ">
    <button type="button" *ngIf="user!=null" class="btn btn-primary col col-sm-12 font-weight-bold mb-2" [routerLink]="['/add']">+</button>
    <table class="table table-striped table-hover shadow">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Data</th>
                <th scope="col"></th>
                <th *ngIf="user!=null" scope="col"></th>
                <th *ngIf="user!=null" scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let practice of practices; let i=index">
                <th scope="row">{{ practice.titul }}</th>
                <td>{{ practice.data }}</td>
                <td><button type="button" class="btn btn-primary" (click)="seeDetails(i)">VIEW</button></td>
                <td *ngIf="user!=null"><button type="button" *ngIf="user!=null" class="btn btn-primary" (click)="update(i)">UPDATE</button></td>
                <td *ngIf="user!=null"><button type="button" *ngIf="user!=null" class="btn btn-primary" (click)="deletePractice(i)">DELETE</button></td>
            </tr>
        </tbody>
    </table>
</div>