<div class=" justify-content-center mt-5">
    <div class=" shadow m-5 p-3 row">
        <div class="col col-sm-6 container">
            <div class="col col-sm-12 justify-content-center ">
                <h1 class="">Portafoli Sergi Vila</h1>
            </div>
            <div class="col col-sm-12 justify-content-center">
                <p>Bones, soc en Sergi Vila, porto 4 anys programan en varis llenguatges com poden ser JS, JAVA i PHP entre altres.<br><br> Estic treballant en empreses grans com pot ser Indra, tambe en projectes mes petits de forma individual.</p>
                <a class="btn btn-primary mt-3" (click)="redirect_practices()">Els meus projectes</a>
            </div>
        </div>
        <div class="col col-sm-6 container">
            <img class="col col-sm-12" src="assets/img/image.jpg" alt="">
        </div>
    </div>
</div>